<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ngdraw</title>
  <link rel="stylesheet" href="/public/dist/toggle-switch.css">
  <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>

<div id="view" ng-app="ngdraw" ng-controller="whiteboard">

<svg id="whiteboard" whiteboard>
  <g id="paths">
    <path ng-repeat="path in paths" ng-attr-d="{{pathData(path)}}" fill="none"
      stroke="black" stroke-width="2" 
    />
    <g id="handles" class="fade"
      ng-repeat="path in paths" ng-show="showHandles">
      <g ng-repeat="segment in path">
        <line ng-attr-x1="{{segment[0].x}}" ng-attr-y1="{{segment[0].y}}"
          ng-attr-x2="{{segment[1].x}}" ng-attr-y2="{{segment[1].y}}"
          fill="none" stroke="lightseagreen" stroke-width="1" />
        <line ng-attr-x1="{{segment[2].x}}" ng-attr-y1="{{segment[2].y}}"
          ng-attr-x2="{{segment[3].x}}" ng-attr-y2="{{segment[3].y}}"
          fill="none" stroke="lightseagreen" stroke-width="1" />
        <circle ng-attr-cx="{{segment[0].x}}" ng-attr-cy="{{segment[0].y}}"
          fill="hotpink" r="3" class="handle" />
        <circle ng-attr-cx="{{segment[1].x}}" ng-attr-cy="{{segment[1].y}}"
          fill="hotpink" r="3" class="handle" />
        <circle ng-attr-cx="{{segment[2].x}}" ng-attr-cy="{{segment[2].y}}"
          fill="hotpink" r="3" class="handle" />
        <circle ng-attr-cx="{{segment[3].x}}" ng-attr-cy="{{segment[3].y}}"
          fill="hotpink" r="3" class="handle" ng-show="$last" />
      </g>
    </g>
  </g>
  <g id="current-path">
    <polyline ng-attr-points="{{polylineData(currentPath)}}" fill="none"
      stroke="lightseagreen"
      stroke-width="2" />
    <circle ng-repeat="point in currentPath"
      ng-attr-cx="{{point.x}}" ng-attr-cy="{{point.y}}" fill="black" r="2" />
  </g>
</svg>

<div id="toggle-draw" class="toggle-draw">
  <label class="switch-light switch-ios" onclick="">
    <input type="checkbox" ng-model="draw">
    <span>
      draw
      <span>Move</span>
      <span>Draw</span>
    </span>
    <a></a>
  </label>
  <label class="switch-light switch-ios" onclick="">
    <input type="checkbox" ng-model="showHandles">
    <span>
      handles
      <span>Handles</span>
      <span>Handles</span>
    </span>
    <a></a>
  </label>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-animate.min.js"></script>
<script src="/public/js/bfit.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>
